/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

data
CosasSimilarity.zip
Output.xlsx
OutputWithSIF.xlsx
CosasSimilarity
stanford-corenlp-full-2018-10-05
/glove.6B.50d
